In [1]:
import pandas as pd
import category_encoders as ce
import warnings
warnings.simplefilter(action = "ignore", category = FutureWarning)

In [2]:
pd.__version__

u'0.19.1'

In [3]:
df = pd.DataFrame({
        'name': ['The Dude', 'Walter', 'Donny', 'The Stranger', 'Brandt', 'Bunny'],
        'haircolor': ['brown', 'brown', 'brown', 'silver', 'blonde', 'blonde'],
        'gender': ['male', 'male', 'male', 'male', 'male', 'female'],
        'drink': ['caucasian', 'beer', 'beer', 'sasparilla', 'unknown', 'unknown'],
        'age': [48, 49, 45, 63, 40, 23] 
    },
    columns=['name', 'haircolor', 'gender', 'drink', 'age']
)
df

           name haircolor  gender       drink  age
0      The Dude     brown    male   caucasian   48
1        Walter     brown    male        beer   49
2         Donny     brown    male        beer   45
3  The Stranger    silver    male  sasparilla   63
4        Brandt    blonde    male     unknown   40
5         Bunny    blonde  female     unknown   23

In [4]:
# It's important to note, there are two different concepts of categorical variables here.
# There's a "category" datatype which a Series object can be set as, and there's also a
# "Categorical" object type all of it's own.
haircat = df.haircolor.astype('category')
print haircat
print haircat.dtype
print haircat.cat.codes
print '-------------------------------'
haircat = pd.Categorical(df.haircolor)
print haircat
print haircat.dtype
print haircat.codes

0     brown
1     brown
2     brown
3    silver
4    blonde
5    blonde
Name: haircolor, dtype: category
Categories (3, object): [blonde, brown, silver]
category
0    1
1    1
2    1
3    2
4    0
5    0
dtype: int8
-------------------------------
[brown, brown, brown, silver, blonde, blonde]
Categories (3, object): [blonde, brown, silver]
category
[1 1 1 2 0 0]

In [5]:
encoder = ce.OneHotEncoder(cols=['haircolor'])
df_onehot = encoder.fit_transform(df)
df_onehot

,haircolor_0,haircolor_1,haircolor_2,name,gender,drink,age
0,0,1,0,The Dude,male,caucasian,48
1,0,1,0,Walter,male,beer,49
2,0,1,0,Donny,male,beer,45
3,1,0,0,The Stranger,male,sasparilla,63
4,0,0,1,Brandt,male,unknown,40
5,0,0,1,Bunny,female,unknown,23

In [6]:
encoder = ce.BinaryEncoder(cols=['haircolor'])
df_bina = encoder.fit_transform(df)
df_bina

   haircolor_0  haircolor_1          name  gender       drink  age
0            1            0      The Dude    male   caucasian   48
1            1            0        Walter    male        beer   49
2            1            0         Donny    male        beer   45
3            0            1  The Stranger    male  sasparilla   63
4            0            0        Brandt    male     unknown   40
5            0            0         Bunny  female     unknown   23

In [7]:
encoder = ce.PolynomialEncoder(cols=['haircolor'])
df_poly = encoder.fit_transform(df)
df_poly

,col_haircolor_0,col_haircolor_1,col_haircolor_2,col_name,col_gender,col_drink,col_age
0,1.0,-4.433780e-17,-0.816497,The Dude,male,caucasian,48
1,1.0,-4.433780e-17,-0.816497,Walter,male,beer,49
2,1.0,-4.433780e-17,-0.816497,Donny,male,beer,45
3,1.0,7.071068e-01,0.408248,The Stranger,male,sasparilla,63
4,1.0,-7.071068e-01,0.408248,Brandt,male,unknown,40
5,1.0,-7.071068e-01,0.408248,Bunny,female,unknown,23

In [8]:
encoder = ce.HelmertEncoder(cols=['haircolor'])
df_helm = encoder.fit_transform(df)
df_helm

,col_haircolor_0,col_haircolor_1,col_haircolor_2,col_name,col_gender,col_drink,col_age
0,1.0,1.0,-1.0,The Dude,male,caucasian,48
1,1.0,1.0,-1.0,Walter,male,beer,49
2,1.0,1.0,-1.0,Donny,male,beer,45
3,1.0,-1.0,-1.0,The Stranger,male,sasparilla,63
4,1.0,0.0,2.0,Brandt,male,unknown,40
5,1.0,0.0,2.0,Bunny,female,unknown,23