In [22]:
import pandas as pd
import category_encoders as ce

In [23]:
pd.__version__

u'0.19.1'

In [24]:
df = pd.DataFrame({
        'name': ['The Dude', 'Walter', 'Donny', 'The Stranger', 'Brandt', 'Bunny'],
        'haircolor': ['brown', 'brown', 'brown', 'silver', 'blonde', 'blonde'],
        'gender': ['male', 'male', 'male', 'male', 'male', 'female'],
        'drink': ['caucasian', 'beer', 'beer', 'sasparilla', 'unknown', 'unknown'],
        'age': [48, 49, 45, 63, 40, 23] 
    },
    columns=['name', 'haircolor', 'gender', 'drink', 'age']
)
df

           name haircolor  gender       drink  age
0      The Dude     brown    male   caucasian   48
1        Walter     brown    male        beer   49
2         Donny     brown    male        beer   45
3  The Stranger    silver    male  sasparilla   63
4        Brandt    blonde    male     unknown   40
5         Bunny    blonde  female     unknown   23

In [25]:
y = df.age
y

0    48
1    49
2    45
3    63
4    40
5    23
Name: age, dtype: int64

In [26]:
X = df[['name', 'haircolor', 'gender', 'drink']]
X

           name haircolor  gender       drink
0      The Dude     brown    male   caucasian
1        Walter     brown    male        beer
2         Donny     brown    male        beer
3  The Stranger    silver    male  sasparilla
4        Brandt    blonde    male     unknown
5         Bunny    blonde  female     unknown

In [27]:
encoder = ce.OneHotEncoder(cols=['haircolor', 'gender', 'drink'])
encoder

OneHotEncoder(cols=['haircolor', 'gender', 'drink'], drop_invariant=False,
       return_df=True, verbose=0)

In [28]:
encoder.fit(X)

OneHotEncoder(cols=['haircolor', 'gender', 'drink'], drop_invariant=False,
       return_df=True, verbose=0)

In [29]:
X_encoded = encoder.transform(X)
X_encoded

,haircolor_0,haircolor_1,haircolor_2,gender_0,gender_1,drink_0,drink_1,drink_2,drink_3,name
0,1,0,0,1,0,0,0,1,0,The Dude
1,1,0,0,1,0,0,1,0,0,Walter
2,1,0,0,1,0,0,1,0,0,Donny
3,0,0,1,1,0,0,0,0,1,The Stranger
4,0,1,0,1,0,1,0,0,0,Brandt
5,0,1,0,0,1,1,0,0,0,Bunny